{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Marketplace Reporting API",
    "description": "\n**For detailed information on how best to implement the Reporting API Suite, refer to the [Reporting Integration Guide](/eats/guides/reporting).**\n\nThis endpoint will allow a developer to request standardized batch reports (e.g. Payment Details Report) to be generated by Uber Eats. Once the report has been generated, a `eats.report.success` webhook notification will be sent to the URL configured in [the app dashboard](https://developer.uber.com//dashboard). This webhook notification will contain URL(s) you can use for downloading each section of the report.\n\n**NOTE: Transaction reporting can be large and can take some time in generation, so upon initial report API request, a workflow_id will be returned as an acknowledgement in response.**\n\n# Table of contents\n- [Create Report](https://developer.uber.com/docs/eats/references/api/reporting_suite#operation/postCreateReport)\n- [Report Created Webhook Event Type](https://developer.uber.com/docs/eats/references/api/reporting_suite#/paths/report_created/post)\n\n# Request Constraints\n**Time Range Constraints**\n\nThere are constraints on the time range / lookback period for which the reports can be requested. These constraints are designed to optimize performance and data accuracy. For e.g. the Payment Details Report can be requested for a maximum range of 32 days in a single request and the Order History Report can be requested only for the [T - 188, T - 2] time period (in days) where T represents the current date.\n\n| Report Type                            | Lookback Period        | Range Period (Days) |\n|:---------------------------------------|:----------------------:|:-------------------:|\n| Payment Details Report                 | N/A                    | 30                  |\n| Orders And Items Report                | N/A                    | 15                  |\n| Finance Summary Report                 | N/A                    | 30                  |\n| Order Errors Menu Item Report          | [T - 188, T - 2]       | N/A                 |\n| Order Errors Transaction Report        | [T - 190, T - 4]       | N/A                 |\n| Order History Report                   | [T - 188, T - 2]       | N/A                 |\n| Downtime Report                        | [T - 188, T - 2]       | N/A                 |\n| Customer and Delivery Feedback Report  | [T - 188, T - 2]       | N/A                 |\n| Menu Item Feedback Report              | [T - 188, T - 2]       | N/A                 |\n| Billing Details Report                 | [T - 1825, T - 2]      | N/A                 |\n"
  },
  "servers": [
    {
      "url": "https://api.uber.com"
    }
  ],
  "paths": {
    "/v1/eats/report": {
      "post": {
        "summary": "Create Report",
        "security": [
          {
            "auth": [
              "eats.report"
            ]
          }
        ],
        "description": "Create a report",
        "operationId": "postCreateReport",
        "requestBody": {
          "description": "Request body for creating a report",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/create_report_request_object"
              },
              "examples": {
                "reporting": {
                  "value": {
                    "report_type": "BILLING_DETAILS_REPORT",
                    "store_uuids": [
                      "68dba37f-7468-49c0-bddc-0f793d02cb75",
                      "5c59f91c-2b2e-4cab-ae7a-271212485185"
                    ],
                    "group_uuids": [
                      "3d868bdb-98dc-40b1-83bb-01753bee40fe",
                      "715af797-b36a-4eb7-b379-a710d546d84e"
                    ],
                    "start_date": "2023-04-20",
                    "end_date": "2023-04-20"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Report creation requested successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workflow_id": {
                      "type": "string",
                      "description": "A reference ID used to identify this report generation job in subsequent API calls or webhook notifications. There will be a future API that takes this `workflow_id` as argument and returns the job status/data."
                    }
                  }
                },
                "examples": {
                  "result": {
                    "value": {
                      "workflow_id": "c7e05234-04ca-4460-8b03-d587df71228e"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User unauthorized to view data for this restaurant or store.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large - The generated report is too large limit. Try requesting a smaller date-range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "414": {
            "description": "Precondition Failed - There was an input validation issue, e.g. start-date is after the end-date.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "416": {
            "description": "Out of Range",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limited - Exceeded rate limit. Please wait before trying again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "report_created": {
      "post": {
        "summary": "Report Created Webhook Event Type",
        "description": "\nThis webhook is sent to notify you once a report job (generated via [POST /eats/report](https://developer.uber.com/docs/eats/references/api/reporting_suite#operation/postCreateReport)) has completed.  You can access the report data via the `report_metadata.sections[]` fields.\n\nYour service should return an HTTP 200 response code with an empty response body to acknowledge receipt of the webhook event. If Uber does not receive a 200 acknowledgement response, the webhook event will be resent based on an exponential backoff algorithm (i.e. starting at 1 second after the initial attempt, then 2 seconds, then 4 seconds etc.) until 7 total events were sent without a response.\n\n- `eats.report.success` - notification a report was created successfully.\n\n### Webhook Guide\nCheck [Webhook Guide](https://developer.uber.com/docs/eats/guides/webhooks).\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/eats.report.success"
              },
              "examples": {
                "eats.report.success": {
                  "value": {
                    "end_time_ms": 1743119999000,
                    "event_id": "cd14f0bb-2d8c-44fb-9622-f6a4be18773e_2f7a1bdd-7993-4485-a11b-eacadce96b67",
                    "event_type": "eats.report.success",
                    "job_id": "cd14f0bb-2d8c-44fb-9622-f6a4be18773e_2f7a1bdd-7993-4485-a11b-eacadce96b67",
                    "report_metadata": {
                      "sections": [
                        {
                          "content_type": "text/csv",
                          "download_url": "https://example.com/report.csv",
                          "section_id": "2f7a1bdd-7993-4485-a11b-eacadce96b67"
                        }
                      ]
                    },
                    "report_type": "ORDERS_AND_ITEMS_REPORT",
                    "start_time_ms": 1742169600000,
                    "webhook_meta": {
                      "client_id": "ndkjscgfS5bvdiuyhv84sdhviudn",
                      "webhook_config_id": "restaurant-financial-data.road-report-completion",
                      "webhook_msg_timestamp": 1743119999000,
                      "webhook_msg_uuid": "cd14f0bb-2d8c-44fb-9622-f6a4be18773e"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook successfully received"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "eats.report.success": {
        "type": "object",
        "description": "Webhook request object for report success",
        "properties": {
          "event_type": {
            "type": "string",
            "description": "The type of the event, e.g. `eats.report.success`. Always check this field as new event types may be added in the future without notice.",
            "enum": [
              "eats.report.success"
            ]
          },
          "event_id": {
            "description": "Unique identifier for the webhook notifications. It’s possible that the same webhook notification might be sent multiple times if believe the first attempt failed.",
            "type": "string"
          },
          "job_id": {
            "description": "Unique identifier for consuming a report generation response.",
            "type": "string"
          },
          "report_type": {
            "description": "This will match the report type in your initial POST request and is provided for easier reference. See above for possible values.",
            "$ref": "#/components/schemas/report_type"
          },
          "start_time_ms": {
            "description": "The time that the report generation job started processing.",
            "type": "integer"
          },
          "end_time_ms": {
            "description": "The time that the report generation job finished processing.",
            "type": "integer"
          },
          "report_metadata": {
            "$ref": "#/components/schemas/report_metadata"
          },
          "webhook_meta": {
            "type": "object",
            "properties": {
              "client_id": {
                "type": "string"
              },
              "webhook_config_id": {
                "type": "string"
              },
              "webhook_msg_timestamp": {
                "type": "integer"
              },
              "webhook_msg_uuid": {
                "type": "string"
              }
            }
          }
        }
      },
      "report_metadata": {
        "type": "object",
        "description": "Report metadata object",
        "properties": {
          "sections": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "section_id": {
                  "description": "Some reports are split into separate sections (or files).",
                  "type": "string"
                },
                "content_type": {
                  "description": "MIME-type of the report section, e.g. `text/csv`.",
                  "type": "string"
                },
                "download_url": {
                  "description": "Download URL of the report.",
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          }
        }
      },
      "create_report_request_object": {
        "type": "object",
        "description": "Request object for creating a report",
        "properties": {
          "report_type": {
            "$ref": "#/components/schemas/report_type"
          },
          "store_uuids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Uber Eats Store UUID(s) against which the report should be generated. One way to enumerate these is by calling the [GET /stores](https://developer.uber.com/docs/eats/references/api/store_suite#tag/GetStores) endpoint."
          },
          "group_uuids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Uber Eats Group UUID(s) against which the report should be generated. This can be used to fetch reports of all stores under the Group"
          },
          "start_date": {
            "type": "string",
            "format": "date",
            "description": "The start date from which this report should contain data. This is store’s local timezone.\n\nNote: `PAYMENT_DETAILS_REPORT` also supports `YYYY-MM-DDThh:mm:ss` format.\n"
          },
          "end_date": {
            "type": "string",
            "format": "date",
            "description": "The end date up to which this report should contain data. This is store’s local timezone.\n\nNote: `PAYMENT_DETAILS_REPORT` also supports `YYYY-MM-DDThh:mm:ss` format.\n"
          }
        }
      },
      "report_type": {
        "type": "string",
        "description": "10 type of reports are supported by this API.",
        "enum": [
          "PAYMENT_DETAILS_REPORT",
          "ORDER_ERRORS_MENU_ITEM_REPORT",
          "ORDER_ERRORS_TRANSACTION_REPORT",
          "ORDER_HISTORY_REPORT",
          "DOWNTIME_REPORT",
          "CUSTOMER_AND_DELIVERY_FEEDBACK_REPORT",
          "MENU_ITEM_FEEDBACK_REPORT",
          "BILLING_DETAILS_REPORT",
          "ORDERS_AND_ITEMS_REPORT",
          "FINANCE_SUMMARY_REPORT"
        ]
      },
      "error": {
        "type": "object",
        "description": "error response object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Description of the error."
          },
          "message": {
            "type": "string",
            "description": "Description details of the error."
          }
        }
      }
    },
    "securitySchemes": {
      "auth": {
        "type": "oauth2",
        "description": "This API uses OAuth 2 with the implicit grant flow. [More info](https://developer.uber.com/docs/eats/guides/authentication)",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://auth.uber.com/oauth/v2/token",
            "scopes": {
              "eats.report": "Indicates a token has permission to create a report."
            }
          }
        }
      }
    }
  }
}